<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>KVO</string>
		<key>viewController</key>
		<string>KVOViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>runtime</string>
		<key>viewController</key>
		<string>RuntimeViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>runloop</string>
		<key>viewController</key>
		<string>RunloopViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>多线程</string>
		<key>viewController</key>
		<string>MultithreadingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>链式编程</string>
		<key>viewController</key>
		<string>DSLViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>消息转发</string>
		<key>viewController</key>
		<string>MsgSendViewController</string>
	</dict>
</array>
</plist>
