<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OC_APP.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F0070F68D84F1C43B458DC7435BD3303309EA1B9</string>
				<key>dateExpires</key>
				<string>2018/8/1</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9AQVJTZ5M6.com.xingl.OC-APP</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9AQVJTZ5M6</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>9AQVJTZ5M6.com.xingl.OC-APP</string>
				</array>
			</dict>
			<key>name</key>
			<string>OC_APP.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>73501997-4947-4feb-b28e-87a3994aceea</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9AQVJTZ5M6</string>
				<key>name</key>
				<string>Yiwu Goingtone Technology Service Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
